<table>
  <tr class="firstRow">
    <th>
      Date
    </th>
    <th>
      Card I.D
    </th>
    <th>
      Location
    </th>
    <th>
      Reason
    </th>
    <th>
      Return Status
    </th>
  <tr>
  <tr *ngFor="let char of userHistory | async">
    <td>
      {{char.date}}
    </td>
    <td>
      {{char.card_ID}}
    </td>
    <td>
      {{char.location}}
    </td>
    <td>
      {{char.reason}}
    </td>
    <td class="return">
      <i
        class="material-icons"
        style="color: #77C464"
        *ngIf="char.returned"
      >done</i>
    </td>
  <tr>
</table>
