<div style="">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div style="margin-bottom: 6rem;">
    <h1>Login to check your statuses</h1>
  </div>
    <app-input title="E-mail" placeholder="Enter email..." style = "width: 300;"></app-input>
    <app-input title="password" placeholder="********" type="password"></app-input>
    <app-button title = "Login" (click)="onLoginClicked()">Login</app-button>
  </div>
  <div class="col-sm-2">
    <div class="row">
    <div class="wrap">
      <div class="dot">
        <h1>OR</h1>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" >
    <div style="margin-bottom: 10rem;">
    <h1>Lost your employee I.D? Swipe your Driver's License or an I.D</h1>
  </div>
    <app-input title="I.D" placeholder="Swipe License" style = "width: 300;"></app-input>
    <app-button title="sign up" (click) = "btnClick();">Hey</app-button>
  </div>
  <div class="col-sm-1"></div>
</div>
