.btn {
  background-color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: orbitron;
  height: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0;
  border: .2rem solid #FFF;
  box-shadow: 0 0 0.1rem #000000;
  color: #000;
  width: 100%;
}
